<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrinterDescription</key>
	<string>Ricoh Cloud Printer</string>
	<key>Redirecturi</key>
	<string>https://www.eu.smart-integration.ricoh.com/frcxport/login-success.html</string>
	<key>ClientID</key>
	<string>70TN9IRGPKncMwjSkaCcs0ZqDCac3WdH</string>
	<key>Mail</key>
	<string></string>
	<key>MailPassword</key>
	<string></string>
	<key>Password</key>
	<string></string>
	<key>ProxyIP</key>
	<string></string>
	<key>ProxyPort</key>
	<string>8080</string>
	<key>ServerName</key>
	<string>eu.smart-integration.ricoh.com</string>
	<key>PrintServerName</key>
	<string>eu.start.ricoh.com</string>
	<key>ServerPort</key>
	<string>443</string>
	<key>UseHttps</key>
	<string>1</string>
	<key>UserName</key>
	<string></string>
	<key>UseProxy</key>
	<string>0</string>
</dict>
</plist>
