BODY {
	COLOR: #333; FONT: 15px "Microsoft Yahei", Arial, Helvetica, sans-serif, "??"; LETTER-SPACING: 0.05em; BACKGROUND-COLOR: #e7e8e9
}
#content {
	BORDER-TOP: #dcdde2 1px solid; BORDER-RIGHT: #dcdde2 1px solid; BORDER-BOTTOM: #dcdde2 1px solid; PADDING-BOTTOM: 50px; PADDING-TOP: 30px; PADDING-LEFT: 40px; BORDER-LEFT: #dcdde2 1px solid; PADDING-RIGHT: 40px; BACKGROUND-COLOR: #fff; HEIGHT: 100%
}
H1 {
	FONT-SIZE: 19px; HEIGHT: 25px; COLOR: #1f1f1f; MARGIN: 3px 0px; LINE-HEIGHT: 35px
}
B {
	FONT-WEIGHT: bold; COLOR: #1f1f1f
}
P {
	MARGIN: 8px 1px
}
OL {
	MARGIN-TOP: 5px
}
.warning {
	BACKGROUND: url(warning.gif) no-repeat left 50%; PADDING-LEFT: 35px
}
.partition {
	MARGIN-BOTTOM: 8px; FONT-SIZE: 1px; HEIGHT: 2px; BACKGROUND-COLOR: #00aeef
}
.partition_left {
	HEIGHT: 2px; BORDER-RIGHT: #fff 1px solid; DISPLAY: block; BACKGROUND-COLOR: #005aab
}
.buttons INPUT {
	BORDER-TOP-STYLE: none; CURSOR: pointer; FONT-SIZE: 12px; HEIGHT: 22px; WIDTH: 80px; BACKGROUND: url(buttons.gif) no-repeat; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; MARGIN-TOP: 25px
}
.b_distance {
	PADDING-BOTTOM: 12px
}

@media Unknown    
{
#content {
	PADDING-BOTTOM: 40px; PADDING-TOP: 20px; PADDING-LEFT: 20px; MARGIN: 20px 10px; PADDING-RIGHT: 30px
}
.link {
	MARGIN-LEFT: 0px
}
.data-field {
	MARGIN-LEFT: 0px
}
.button_hide {
	DISPLAY: none
}

}
